@import "tailwindcss";

:root {
  --navbar-background: #F7F1E5;
  --navbar-text: #665B4D;
  --navbar-hover-text: #A8B59A;
  --background: #FFFDF8;
  --button-background: #B8CCD8;
  --button-hover-background: #A8B59A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDF8;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer navbar {
  .bg-navbar {
    background-color: var(--navbar-background);
  }

  .text-navbar {
    color: var(--navbar-text);
  }

  .text-navbar:hover {
    color: var(--navbar-hover-text);
  }

  .button {
    @apply bg-(--button-background) border rounded-full cursor-pointer;
  }

  .button:hover {
    background-color: var(--button-hover-background);
  }

  .form-label {
    @apply block text-sm font-medium text-gray-700;
  }

  .form-input {
    @apply mt-1 w-full rounded border p-2 text-gray-900;
  }
}